html,body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
section{
  padding: 40px 60px;

}


.logo {
  display: flex;
  width: 90px;
  height: 90px;
  margin: 0px 3px;
  padding: 2.5cqmax;
}
.whatsapp-icon{
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  z-index: 1000; 
}

.whatsapp-icon img {
  width: 60px;        /* Size of the icon */
  height: 60px;       /* Size of the icon */
  border-radius: 50%; /* Makes the icon circular */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Adds shadow for better visibility */
  transition: transform 0.2s; /* Animation for hover effect */
  z-index: 100; 
}

.whatsapp-icon img:hover {
  transform: scale(1.1); /* Slightly enlarges the icon on hover */
}

.nav {
  display: flex;
  width: 100;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
  background: #03130b;
}

.nav ul li {
  display: inline;
  list-style: none;
  margin: 10px 30px;
}

.nav ul li a {
  color: rgb(247, 246, 246);
  font-weight: bold;
  font-size: 18;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10 px;
  border-radius: 3px;
}
.nav ul li a:hover {
  border: 1px solid rgb(24, 254, 8);
  transition: 0.5s;
}
.sub ul li a {
  display: flex;
  color: #e61a1a;
}
.nav #icon {
  color: white;
  font-size: 3opx;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
@media (max-width: 540px) {
  html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .BANNER_1 h2{
    display: inline-flex;
    margin-right: 20%;
  }
  .BANNER_1 h4{
    display: inline-flex;
    margin-right: 20%;
  }
  .NAME a{
    display: flex;
    justify-content: center;
  }

  .nav #icon {
    display: block;
  }
  .nav ul {
    position: fixed;
    width: 45%;
    height: 70vh;
    background: #2f3640;
    top: 35px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  .nav ul li {
    display: block;
    margin: 25px;
    line-height: 70px;
  }
  .nav ul li a {
    font-size: 20px;
    color: beige;
  }

  a.active,
  a:hover {
    border: none;
    color: #3498db;
  }
  .nav ul.show {
    left: 0;
  }
  .contact {
    background: #101010;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
  }
}
@media (max-width: 900px) {
  .nav #icon {
    display: block;
  }
  .nav ul {
    position: fixed;
    width: 45%;
    height: 70vh;
    background: #2f3640;
    top: 35px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }

  .nav ul li {
    display: block;
    margin: 25px;
    line-height: 70px;
  }
  .nav ul li a {
    font-size: 20px;
    color: beige;
  }

  a.active,
  a:hover {
    border: none;
    color: #3498db;
  }
  .nav ul.show {
    left: 0;
  }
  .contact {
    background: #101010;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
  }
  .offer{
    margin-top: 30%;
  }
  .BANNER_1 h4{
    margin-top: 20%;
    padding-top: 10%;
  }
  .BANNER_1 h2{
    margin-bottom: 25%;
  }
  #BANNER .BANNER_1{
    padding-top: 5%;
  }
  #BANNER .BANNER_1 a{
    margin-bottom: 10%;
  }
  .BANNER_1 span{
    display: inline;
  }
  .banner_btn{
    margin-bottom: 2%;
  }
  
  



}

.MAIN{
    height: 100vh;
    width:100% ;
    background-image: linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)),url('IMAGES/NEW COVER/80cb435036bdd2c0fac768df21efad08.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode:forwards ;
    animation-iteration-count:infinite ;
    animation-play-state: running;
    animation-timing-function:ease-in-out ;
    z-index: -2;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
    
    
  

  
}
@keyframes animate{
  0%{
      background-image:  linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)),url('IMAGES/NEW COVER/d5d36a2b947f73d673f0a84b07e174f7.jpg');
  }
  20%{
      background-image: linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)),url('IMAGES/NEW COVER/92c9935ca9c0c2573ad6b4775f8f17d4.jpg');
  }
  40%{
      background-image: linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)),url('IMAGES/designs/bc295f8a983215f340c6d24cc8ef8943.jpg');
  }
  60%{
      background-image: linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)),url('IMAGES/NEW COVER/bc295f8a983215f340c6d24cc8ef8943.jpg');
  }
  
 
}
.content h1{
  position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color:white ;
    font-size: 60px;
    background: red;
    padding: 30px 30px;
    border-radius:40px ;
}
.content P{
  color: white;
}


#MAIN .content button:hover {
  background-color: green;
  color: white;
}
.course_1 h2 {
  text-align: center;
  font-size: xx-large;
  margin-top: -12%;
}
.course_1 p {
  text-align: center;
  font-size: larger;
}
#COURSES .small_course {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #130202;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
  margin: 15px 0;
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-sizing: content-box;
}
#COURSES .small_course img {
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

#BANNER .BANNER_1 {
  margin: 20px;
  padding: 10px;
}
#BANNER {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("Graduation 🎓 folder/celebration-education-graduation-throwing-graduation-capscolors-joy-happiness-ai-generated_646649-305.avif");
  width: 100%;
  height: 15vh;
  background-size: cover;
  color: white;
}
#BANNER h2 span {
  color: rgb(243, 11, 23);
}
.offer{
  margin-top: 15%;
}
.BANNER_1 a{
  margin-right: 15%;
  margin-bottom: 1%;
}
.enroll {
  font-size: 16;
  font-weight: 600;
  padding: 15px 30px;
  color: white;
  background-color: rgb(244, 17, 17);
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.1s;
  margin-left: 50%;
  margin-top: 3%;
}
.call_to_action a{
  margin-bottom: 2rem;
  margin-left: 40px;
  display: flex;
  justify-content: center;
}
#BANNER button:hover {
  background: green;
  color: white;
}
#COURSES button:hover {
  background: green;
  color: white;
}


footer{
  background: black;
  padding-top: 50px;
  margin: auto;
}
.footer_1{
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: center;

}
.contact-content{
  width:40.3%;

}
h3{
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}
.contact-content h1{
  font-size: 22px;
  margin-bottom: 15px;
  text-align: center;
  color: aliceblue;
}
.contact-content p{
  width: 190px;
  margin: auto;
  padding: 7px;
  color:aliceblue

}
.list a{
  color: white;
}
.contact-content ul{
  text-align: center;
}
.list{
  padding: 0;
}
.list li{
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
}
.list li::before{
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: yellow;
  transition-duration: 5s;

}
.list li:hover::before{
  width: 70px;
}
.social_icons {
  text-align: center;
  padding: 0;
}
.social_icons li{
  display: inline-block;
  text-align: center;
  padding: 5px;
}
.social_icons i {
  color: white;
  font-size: 25px;

}
a{
  text-decoration: none;

}
a:hover{
  color: orange;
}
.social_icons i:hover{
  color: orange;
}
.bottom_bar{
  background: orange;
  text-align: center;
  padding: 10px 0;
  margin-top: 50p;
}
.bottom_bar p{
  color: #343434;
  margin: 0;
  font-size: 16px;
  padding: 7px;
}
.nav_toggle{
  float: right;
  height: 120px;
  line-height: 90px !important;
  font-size: 22px;
  color: aliceblue;
  cursor: pointer;
  display: none !important;
  
}

.CVIB_COURSES span {
  color: #f47e08;
  background: #130202;
  box-sizing: content-box;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
#MAIN h4 {
  padding-right: 50px;
}
.small_course:hover {
  transform: scale(1.02);
  transition: 0.5s;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(164, 110, 240);
}
.testimonial {
  position: relative;
  width: 100%;
  max-width: 900px;
  padding: 50px 0;
  row-gap: 30px;
}
.testimonial .image {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: aliceblue;
}
.slide p {
  text-align: center;
  padding: 0 100px;
  font-size: 20px;
  font-weight: 400;
}
.slide i {
  font-size: 30px;
  color: #7d17dd;
}
.slide .details {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.details.name {
  font-size: 30px;
  font-weight: 700;
}

.service_Item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  padding: 0 30px;
  background: #7c7a7a;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin-right: 40px;
}

.service_Item img {
  height: 90vh;
  border-radius: 20px;
  width: 50%;
  margin-right: 20px;
}
.info h3 {
  color: white;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 40px;
  text-align: center;
}
.info span {
  color: #f47e08;
}
.info p {
  color: antiquewhite;
  letter-spacing: 1px;
  line-height: 28px;
  margin-bottom: 45px;
}
.try {
  display: flex;
  align-items: center;
}
.btn {
  background: #f47e08;
  color: aliceblue;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  height: 40px;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.4s;
}
.MOBILE_VERSION {
  display: none;
}

@media screen and (max-width: 767px) {
  #COURSES .CVIB_COURSES {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (max-width: 574px) {
    .footer_1{
      display: flex;
      flex-direction: column;
    }
    html,body{
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }
    #COURSES .CVIB_COURSES .small_course {
      display: flex;
      flex-direction:column;
      align-items: center;
      margin-right: 5%;
      
      
    }

    
  }
  @media screen and (max-width: 767px) {
    .col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  @media screen and (max-width: 574px) {
    .col {
      width: 100%;
      margin-bottom: 30px;
    }
    .advert-video .promo {
    max-width: 100% !important;
    margin: 20px auto;
    box-shadow: 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
    
    border-radius: 1rem;
    width: 60rem;
    margin-right: 30%;
    }
    .advert-video .promos .promo iframe {
    max-width: 100% !important;
    margin: 20px auto;
    box-shadow: 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    max-height: 5% !important;
    }
    .advert-video {
      display: flex;
      justify-content: center;
      margin-left: -33%;
      background-color: #040404;
      
    }
    .call_to_action{
      margin-right: 30%;
    }
    .container{
      margin-right: 20%;
    }
  }

  @media screen and (max-width: 574px) {
    
  }
}
  

@media screen and (max-width: 574px) {
  
  .service_Item {
    display: grid;
    grid-template-columns: auto;
  }
  
  .service_Item img {
    width: auto;
  }
  
  
  .MOBILE_VERSION {
    display: block;
    justify-content: center;
  }

  .MOBILE_VERSION h2 {
    font-size: 30px;
    color: rgb(248, 248, 251);
    background: #130202;
    align-self: normal;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  
  }
  .MOBILE_VERSION h1 {
    display: flex;
    justify-content: center;
    margin-left: 5%;
    color: red;
  }
  .MOBILE_VERSION p {
    display: flex;
    justify-content: center;
    margin-left: 5%;
    background-color: beige;
  }
  .enroll {
    margin-left: 30%;
  }
  .samples-row .IMAGES{
    width: 25rem;
    height:15rem;
    margin: 1.5rem;
    display: flex;
    align-content: center;
    padding-right: 20%;


  }
  .samples-row .IMAGES img {
    max-width: 20rem;
    height:15rem;
    margin: 1.5rem;
    margin-right: 6cm;
    margin-top: -3%;
    padding: 5px;
    padding-right: 30px;
    border-radius: 3px;
    
    
  }
  .samples-row{
    margin-left: -50%;
    max-width: 500%;
  }
  

  .course_1{
    background-color: #3498db;
  }
  .promos{
    background-color: #040404;
    width: 100%;
    
  }
  
  
  .testimonial .slide {
    margin-right: 30%;
  }
  .sample-click a{
    margin-left: 5px;
    padding-top: 1px;
  }

  .pop_up .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
  
  }
    
    .pop_up.active .content{
      transition: all 500ms ease-in-out;
      transform: translate(-50%, -50%) scale(1);
    }
    .pop_up .content{
      display: block;
      justify-content: center;
      max-height: 100vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      background: #fbf8f8;
      width:450px ;
      height:400px;
      z-index: 1000;
      padding: 20px;
      box-sizing: border-box;
      margin-left: 20%;
      overflow-x: hidden;
      margin-top: auto;
      
    }
    .training h4{
      display: flex;
    }

  }
  .pop_up .clossbtn{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top:10px ;
    width: 30px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
  }
  .pop_up.active .overlay{
    display: block;
  }
  
  .pop_up.active .content{
    transition: all 500ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
  }
  
  .NAME button{
    color: white;
    font-size: 10px;
    font-weight: 500;
    background: #3498db;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }  

  
  .TRAIN_IMG_HOLDER .newimage img{
    max-width: 95% !important;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 1rem;
    
}
.TRAIN_IMG_HOLDER{
  display: block;
}
  


.sample .samples-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.samples-row .IMAGES img {
  height: 15rem;
}
.samples-row .IMAGES {
  text-align: center;
  padding: 3rem 2rem;
  background: white;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
  outline: 0.1rem solid #ccc;
  outline-offset: -1.5rem;
  cursor: pointer;
}
.sample-click h4 {
  font-size: x-large;
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.sample-click a {
  background-color: #130202;
  color: beige;
  border-radius: 3px;
  
}
.heading h5 {
  font-size: xx-large;
  display: flex;
  justify-content: center;
  background-image: url("IMAGES/camera images/pexels-alex-andrews-821749.jpg");
  color: #cde113;
  text-transform: capitalize;
  text-align: center;
}
.advert-video .promo {
  text-align: center;
  padding: 3rem 2rem;
  background: white;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
  outline: 0.1rem solid #ccc;
  outline-offset: -1.5rem;
  cursor: pointer;
  margin-top: 5%;
}
.advert-video .promos {
  display: block;
  justify-content: center;
  gap: 2rem;
  margin-left: 2%;
}
.advert-video .promos .promo iframe {
  max-width: 95% !important;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 1rem;
}
#COURSES .CVIB_COURSES{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-content: center;
  margin-left: 4%;
}
#COURSES .course_1 h2{
  margin-top: 5%;

}
.TRAIN_IMG_HOLDER {
  display: block;
    justify-content: center;
}
.training_title h6{
  display: flex;
  justify-content: center;
  font-size: xx-large;
  color: #e61a1a;
  background-color: black;
  padding: 25px 25px;
  


   
}
.training h4{
  color: #e61a1a;
  font-size: 40px;
  display: flex;
  justify-content: center;

}
.pop_up .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;

}
.pop_up .content{
  position: absolute;
  top: 98%;
  left: 20%;
  transform: translate(-50%, -50%) scale(0);
  background: #fbf8f8;
  width:450px ;
  height:400px;
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
}
.pop_up .clossbtn{
  cursor: pointer;
  position: absolute;
  right: 20px;
  top:10px ;
  width: 30px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}
.pop_up.active .overlay{
  display: block;
}

.pop_up.active .content{
  transition: all 500ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.NAME button{
  color: white;
  font-size: 10px;
  font-weight: 500;
  background: #3498db;
  width: 160px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 20%;
}  
.NAME button:hover {
  background: red;
  transform: scale(1.1);
  transition: .5s; 
}

.content h7{
  display: flex;
  justify-content: center;
  color: red;
  text-decoration: dashed;
}
.content.form{
  display: flex;
  justify-content: center;
}

.Registration_form input{
  font-size: 16px;
  padding: 10px 10px;
  width: 100%;
  border: 0;
  border-radius: 5px;
  outline: #222;
  background: #27252a;
  
}
.TRAING_COURSE{
  background: #7f7e80;
  
}
.Registration_form select{
 padding: 15px;
 margin-left: 10%;
 margin-top: 4%;

}

.imgb{
  background-color: #ccc;

  
}
.photoshoot_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}
.photoshoot_card{
  width: 325px;
  height:500px ;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}
.photoshoot_card img{
  width: 100%;
  height: 80%;
}
.card_content{
  padding: 16px;
}

.photoshoot_card .btn{
  display: inline-block;
  padding: 8px 16px;
  background-color: #333;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: white;
  padding: 25px;
  margin-left: 50%;
  margin-top: -25px;

}
.phtoshoot_title h1{
  width: 200px;
  
  display: flex;
  justify-content: center;
  
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  padding: 4px;
  box-sizing: content-box;
    text-align: center;
  

  
}
.phtoshoot_title{
  display: flex;
  justify-content: center;
}
.adv_btn{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;

}
.adv_btn a{
  text-align: center;
  display: flex;
  justify-content: center;
  display: inline-block;
  padding: 8px 16px;
  background-color: #333;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: white;
  
}
.video-control .video .min-video {
  width: 25rem;
  height: 15rem;
  margin: 2rem;
  box-shadow: 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 1rem;
}
.video-control .video .min-video iframe {
  height: 100%;
  width: 100%;
  object-fit: cover;
  outline: none;
  border: none;
}
.video-control .video {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

